body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image:url(./assets/EFMLLogo.png);
    background-repeat:repeat;
}

@keyframes mymove {
    from {left: -250px;}
    to {left: 100vw;}
  }

button.animate{
    position: relative;
    animation: mymove 10s ease-in infinite;
}
.content{
    background-color: white;
    border:10px black solid;
    padding-left:10px;
}